/* Desktop Views */
@media only screen and (min-width: 691px) {

.icon-menu {
display: none;
}

.openMobileNav {
  display: none;
}

.globalNav li {
margin: 0, auto;
display: inline;
font-size: 1.5em;
line-height: 1;
text-decoration: none;
text-transform: uppercase;
}

.globalNav li a {
  margin-top: 50px;
  display: inline-block;
  padding: 0.625em;
  color: #fff;
}

.overlay {
  display: none;
}


#zipFind {
  color: black;
}

#petLargness {
  color: black;
}

.pet-summary-element {
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 2%;
  width: 20%;
  border-radius: 5px;
  background-color: #e8e8ee;
  text-align: center;
}

.resourceGroup {
  margin: 3% 2%;
  width: 20%;
  border-radius: 50%;
  /*background-color: #e8e8ee;*/
  background:rgba(0,0,0,0.65);
  text-align: center;
  padding: 2px 16px;
}

.resourceContent{
  text-align: left;
  list-style: none;
  padding-bottom: 10%;
}

.resourceContent a {
  color: white;
}

.resourceGroup h2 {
  padding-top: 5%;
}

.matchesTile {
  margin-top: 7%;
  margin-right: 2%;
  margin-left: 2%;
  width: 20%;
  max-height: 67%;
  border-radius: 5px;
  background-color: #e8e8ee;
  text-align: center;
}

.matchesTile img {
  border-radius: 5px 5px 0 0;
  max-height: 250px;
  width: 100%;
}

.matchesContainer {
  padding: 2px 16px;
  background-color: #e8e8ee;
}

.pet-summary-element:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pet-summary-element img {
  border-radius: 5px 5px 0 0;
  max-height: 250px;
  width: 100%;
}

.pet-summary-element, .matchesContainer button {
  margin-bottom: .5em;
}

.resourceGroup:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.petContainer, .resourceGroup {
  padding: 2px 16px;
}


.initialFinds, .filterResultsWrapper{
  text-align: center;
}

.initialFinds button {
  margin-bottom: 2%;
}

.filterResultsWrapper h2{
  display: inline;
}

.filterResultsWrapper p{
  /*display:block;*/
  margin-top: .3%;
}


.genderSelect {
  margin-bottom: 2%;
}

.sexLabel, .ageSizeLabel {
  margin-right: 4%;
  margin-bottom: 2%;
}

.matchesButton {
  margin-top: 3%;
  margin-bottom: 3%;
  color: black;
}

.enterZip {
  display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.backTop {
  position: absolute;
  margin-right: 1%;
  bottom: 0;
  right: 0;
}

#searchAgain {
  z-index: 8;
  position: absolute;
  top: 50%;
  right: 2%;
  height: auto;
}

#favorites a {
  position: absolute;
  margin-right: 1%;
  bottom: 0;
  right: 0;
}


.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.zipForm {
  margin: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}

#zipFind {
  margin-bottom: 7%;
}

.findPetBtn {
  margin: auto;
  width: 8em;
}

.pareSelect {
  margin-bottom: 0;
}

/* End of Desktop View*/
}



  /*Mobile View*/
  @media only screen and (max-width: 829px){
  title {
    margin-left: 2%;
  }

  .stickyNav {
    background-color: #000;
  }

  .globalNav {
    display: flex;
    justify-content: space-around;
    list-style:none;
    color: white;
    width: 100%;
  }

  .globalNav li {
    color: #fff;
    margin-top: 1.5%;
    padding-right: 5%;
    font-size: 1.5em;
  }

  .globalNav li a {
    color: #fff;
    text-decoration: none;
    margin-top: 1.5%;
    padding-right: 5%;
    font-size: 1em;
  }

  .lisearch {
    margin-left: 6.5%
  }

  .mobileNavContent, .openMobileNav, .closeNav {
    display: none;
  }

  #search {
    background-size: cover;
    padding-top: 21%;
    height: 100%;
  }

  .initialFinds {
    text-align: center;
  }

  .filterResultsWrapper p {
    text-align: center;
  }

  .pareSelect {
    margin-top: 3%;
  }

  .redoSearch {
    position: absolute;
    top: 1%;
    right: 1%;
    height: auto;
  }

  .randomSection, .resourceSection {
    margin-bottom: 7%;
  }

  .backTop {
    position: absolute;
    bottom: -.5%;
    left: 50%;
  }

  .matchShow {
    flex-flow: column;
  }

  .matchesTile, .matchesContainer, .pet-summary-element{
    margin-top: 1%;
    width: 100%;
    text-align: center;
    background-color: #e8e8ee;

  }

  .matchesTile, .pet-summary-element img {
    width: 100%;
  }

  .matchesContainer {
    padding-top: 0;
  }

  .resourceItems {
    flex-wrap: wrap;
  }

  .randomHeader, .resourceHeader {
    font-size: 1.5em;
  }

  .resourceGroup {
    margin-right: 11%;
    margin-bottom: 5%;
  }

  .resourceGroup:first-of-type {
    margin-left: .5%;
  }

  .resourceContent {
    padding-left: 0;
  }

  #financial {
    margin-right: 21%;
  }

  .resourceGroup h2 {
    font-size: 1.5em;
  }

  .resourceContent li {
    list-style: none;
  }

  .resourceContent a {
    color: #fff;
    text-decoration: none;
  }







}
