/* The Modal (background) */
.randDetailModal {
    display: none; /* Hidden by default */
    /*text-align: center;*/
}

.randModal-show {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  /*display: flex;*/
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,.86);
  padding: 1%;
}

.detailTop {
  margin: 1% 3%;
  border: .5px solid #888;
}

/* Modal Content/Box */
.modal-content {
  display: flex;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-family: 'Ek Mukta', sans-serif;
    font-size: 1em;
}

.detailName {
  display: block;
  padding-left: 1%;
}

.petPicDetail {
  padding-left: 1%;
}

.basicInfo{
  width: 30%;
  overflow: hidden;
  display: inline-block;
  /*columns: 2;*/
  clear: both;
  list-style: none;
}

.basicInfo ul {
    /*list-style-type: none;*/
    width: 48%;
    margin-right: 7%;
}

.basicInfo li {
  padding-bottom: 5%;
  padding-right: 10%;
  margin-right: 10%;
}

.bullet {
  list-style: initial;
}

.descript{
  position: absolute;
  top: 20%;
  left: 35%;
  width: 45%;
}

.detailName{
  font-size: 50px;
  display: inline-block;
}

#randomDetails {
  color: white;
}

/* The Close Button */
.icon-cross {
    position: absolute;
    right: 4%;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
