body {
  background: url('../Images/seniorDogRight.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

header {
  /*background-color: grey;*/
}

.globalNav {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  /*background-color: #ADD8E6;*/
  margin-bottom: 5%;
  color: white;
  width: auto;
  background:rgba(0,0,0,.65);
}

#random {
  background-color: #ADD8E6;
  margin-bottom: 5%;
  color: white;
  width: auto;
  background:rgba(0,0,0,.65);
  }

#resources {
  background-color: #ADD8E6;
  margin-bottom: 5%;
  color: white;
  width: auto;
  background:rgba(0,0,0,.65);
}



button {
  border-radius: 5px;
  color: black;
  background-color: green;
}

input[type=button] {
  border-radius: 5px;
  color: black;
  background-color: green;
}

#search {
  height: 50em;
  border: 1px solid black;
  /*background-image: url('../Images/seniorDogRight.jpg');*/
  /*background-size:cover;*/
  /*background-position: 100%;*/
  /*background-repeat: no-repeat;*/
  display: flex;
  align-items: center;
}

.searchSection {
  z-index: 9;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: 1px solid white;
  width: 55em;
  background:rgba(0,0,0,0.5);
}

.searchSection h2 {
  text-align: center;
}

.searchSection form {
  text-align: center;
}

.zipForm {
  margin-bottom: 2em;
}

#vetMap {
  height: 400px;
  width: 100%;
}
