/* Desktop Views */
@media only screen and (min-width: 691px) {

.icon-menu {
display: none;
}

.globalNav li {
margin: 0, auto;
display: inline;
font-size: 1.5em;
line-height: 1;
text-decoration: none;
text-transform: uppercase;
}

.globalNav li a {
  margin-top: 50px;
  display: inline-block;
  padding: 0.625em;
  color: #fff;
}

.pet-summary-element {
  border-radius: 50px;
  display: inline-block;
  margin: 2em 2em;
  width: 20em;
  background-color: grey;
  text-align: center;
}

.pet-summary-element img {
  margin-top: .5em;
  height: 100px;
  width: 100px;
  margin-left: 30%;
  margin-right: 30%;
}

.pet-summary-element button {
  margin-bottom: .5em;
}

#resources {
  text-align: center;
}

#resources a {
  display: block;
  color: #fff;
}

#vet {
  text-align: center;
}

.resourceGroup {
  border-radius: 50px;
  display: inline-block;
  margin: 2em 2em;
  /*height: auto;*/
  border: 1px solid black;
  width: 20em;
  /*background-color: grey;*/
  text-align: center;
}

#random a {
  /*float: right;*/
  position: absolute;
  margin-right: 1em;
  bottom: 0;
  right: 0;
}

#backTop {
  position: absolute;
  margin-right: 1em;
  bottom: 0;
  right: 0;
}

#favorites a {
  position: absolute;
  margin-right: 1em;
  bottom: 0;
  right: 0;
}

.resourceGroup {
  border-radius: 50px;
  width: auto;
  height: auto;
  /*background-image: url('../Images/seniorCatFloor.jpeg');
  background-repeat: no-repeat;*/
  margin: 0, 0, 1em, 0;
  text-align: center;
  color: #525252;
}


}



  /*Tablet View (Nav links use less padding)*/
  /*@media only screen and (min-width: 692px) and (max-width: 800px) {
    .globalNav li {
      margin-left: 0%;
      margin-right: -1%;
    }
  }*/
